site_name: Documentation for Legendary Pancake
site_description: Documentation for Legendary Pancake, a fictional project. 
site_author: A Company
site_url: https://susanatheuxperson.github.io/legendary-pancake/

#This is for the custom colors for primary and accent.
extra_css:
  - stylesheets/extra.css
theme:
  name: material
  custom_dir: overrides
  features:
    - navigation.sections   # Sidebar dropdowns
    - toc.follow            # Table of contents
    - content.action.edit
    - content.action.view
  #  - content.footer.last-updated

  font:
    text: Source Sans 3
    code: Source Code Pro

  # This is for the browser icon
  favicon: assets/cat.png

  icon:
    # logo: assets/JAXlogo.png
    logo: material/atom
# This list below is for all of the admonition types
    admonition:
      note: fontawesome/solid/note-sticky
      abstract: fontawesome/solid/book
      info: fontawesome/solid/circle-info
      tip: fontawesome/solid/bullhorn
      success: fontawesome/solid/check
      question: fontawesome/solid/circle-question
      warning: fontawesome/solid/triangle-exclamation
      failure: fontawesome/solid/bomb
      danger: fontawesome/solid/skull
      bug: fontawesome/solid/robot
      example: fontawesome/solid/flask
      quote: fontawesome/solid/quote-left

# Site colors & automatic dark/light mode toggle
  palette:
    primary: custom
    accent: custom

markdown_extensions:
# Enables use of grid cards
  - attr_list
  - md_in_html
# Enables emojis :)
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
# Callouts for relevant side content    
  - admonition
  - pymdownx.details
# This is for mermaid data visualization plugin
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
# Allows for highlighting code blocks         
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
# An extension that allows for the ability to embed content into a document including other docs or source file.
  - pymdownx.snippets # Allows for content tabs

# Allows for content tabs
  - pymdownx.tabbed:
      alternate_style: true
# Enables Markdown table support    
  - tables

extra:
  generator: false

plugins:
  - search
  - git-revision-date-localized:
      enable_creation_date: false
      fallback_to_build_date: true
      type: date

# This is the site's pages (navigation)
nav:
  - Getting Started: index.md
  - Documentation:
      - Lorem Ipsum:
          - Service Description: services/service1/documentation-1.md
          - Documentation 1: services/service1/documentation-2.md
          - Documentation 2: services/service1/documentation-3.md
      - Dolor Sit Amet:
          - Overview: services/service2/index.md
          - Documentation 1: services/service2/documentation-1.md
          - Documentation 2: services/service2/documentation-2.md
      - Consectetur Adipiscing:
          - Overview: services/service3/index.md
          - Documentation 1: services/service3/documentation-1.md
          - Documentation 2: services/service3/documentation-2.md
      - Elit Sed Do:
          - Overview: services/service4/index.md
          - Documentation 1: services/service4/documentation-1.md
          - Documentation 2: services/service4/documentation-2.md
      - Eiusmod Tempor:
          - Overview: services/service5/index.md
          - Documentation 1: services/service5/documentation-1.md
          - Documentation 2: services/service5/documentation-2.md
      - Incididunt Ut:
          - Overview: services/service6/index.md
          - Documentation 1: services/service6/documentation-1.md
          - Documentation 2: services/service6/documentation-2.md
      - Labore Et Dolore:
          - Overview: services/service7/index.md
          - Documentation 1: services/service7/documentation-1.md
          - Documentation 2: services/service7/documentation-2.md
      - Magna Aliqua:
          - Overview: services/service8/index.md
          - Documentation 1: services/service8/documentation-1.md
          - Documentation 2: services/service8/documentation-2.md
      - Ut Enim Ad Minim:
          - Overview: services/service9/index.md
          - Documentation 1: services/service9/documentation-1.md
          - Documentation 2: services/service9/documentation-2.md
      - Veniam Quis Nostrud:
          - Overview: services/service10/index.md
          - Documentation 1: services/service10/documentation-1.md
          - Documentation 2: services/service10/documentation-2.md
      - Exercitation Ullamco:
          - Overview: services/service11/index.md
          - Documentation 1: services/service11/documentation-1.md
          - Documentation 2: services/service11/documentation-2.md
      - Laboris Nisi Ut:
          - Overview: services/service12/index.md
          - Documentation 1: services/service12/documentation-1.md
          - Documentation 2: services/service12/documentation-2.md
      - Aliquip Ex Ea:
          - Overview: services/service13/index.md
          - Documentation 1: services/service13/documentation-1.md
          - Documentation 2: services/service13/documentation-2.md
      - Commodo Consequat:
          - Overview: services/service14/index.md
          - Documentation 1: services/service14/documentation-1.md
          - Documentation 2: services/service14/documentation-2.md
      - Duis Aute Irure:
          - Overview: services/service15/index.md
          - Documentation 1: services/service15/documentation-1.md
          - Documentation 2: services/service15/documentation-2.md
      - Reprehenderit In:
          - Overview: services/service16/index.md
          - Documentation 1: services/service16/documentation-1.md
          - Documentation 2: services/service16/documentation-2.md
      - Voluptate Velit Esse:
          - Overview: services/service17/index.md
          - Documentation 1: services/service17/documentation-1.md
          - Documentation 2: services/service17/documentation-2.md
      - Cillum Dolore Eu:
          - Overview: services/service18/index.md
          - Documentation 1: services/service18/documentation-1.md
          - Documentation 2: services/service18/documentation-2.md
      - Fugiat Nulla Pariatur:
          - Overview: services/service19/index.md
          - Documentation 1: services/service19/documentation-1.md
          - Documentation 2: services/service19/documentation-2.md
      - Excepteur Sint:
          - Overview: services/service20/index.md
          - Documentation 1: services/service20/documentation-1.md
          - Documentation 2: services/service20/documentation-2.md
